html {
  font-family: "Lato", sans-serif;
  font-size: calc(1em + 0.2vw + 0.2vh);
  color: #111111;
  background-color: #fefefe;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}
