html {
  font-family: "Lato", sans-serif;
  font-size: calc(1em + 0.2vw + 0.2vh);
  color: #111111;
  background-color: #fefefe;
}

main,
footer {
  max-width: 32rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

main article article + article {
  border-top: 2px dotted #111111;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

nav ul li:first-child a {
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 0.85rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
nav ul li:first-child a,
article article p span {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

a {
  color: inherit;
}

:focus {
  outline: 0.125rem solid #111111;
  outline-offset: 0.125rem;
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
