---
layout: default
title: Home
---

{% include components/header.html title="Thomas Woodcock" subtitle="This is
where I write about learning, and rate albums and films." %}
<article class="content">
  <article class="content-section">
    {% include containers/latest-diary-entries.html %}
  </article>
  <article class="content-section">
    {% include containers/latest-album-ratings.html %}
  </article>
  <article class="content-section">
    {% include containers/latest-film-ratings.html %}
  </article>
</article>
