---
layout: default
title: Home
---

<h1>Thomas Woodcock</h1>
<article>
  <article>
    <h2>Latest Diary Entries</h2>
    <ul>
      {% for post in site.posts limit:3 %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <time datetime="{{ post.date }}"
          >{{ post.date | date_to_long_string: "ordinal" }}</time
        >
      </li>
      {% endfor %}
    </ul>
  </article>
  <article>
    <h2>Latest Album Ratings</h2>
    {% assign albums = site.data.albums | reverse %}
    <ul>
      {% for album in albums limit: 3 %}{% assign rating = album.rating | minus:
      1 %}
      <li>
        <h3>{{ album.person | join: " & " }}</h3>
        <h4>{{ album.name }}</h4>
        <p>{{ site.data.ratings[rating] | upcase }}</p>
      </li>
      {% endfor %}
    </ul>
  </article>
  <article>
    <h2>Latest Film Ratings</h2>
    {% assign films = site.data.films | reverse %}
    <ul>
      {% for film in films limit: 3 %}{% assign rating = film.rating | minus: 1
      %}
      <li>
        <h3>{{ film.person | join: " & " }}</h3>
        <h4>{{ film.name }}</h4>
        <p>{{ site.data.ratings[rating] | upcase }}</p>
      </li>
      {% endfor %}
    </ul>
  </article>
</article>
