<header class="header">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <ul>
    <h2>VIEW MODES:</h2>
    <li><a href="{{ peoplepath }}">{{ persontitle }}</a></li>
    <li>Genre</li>
  </ul>
</header>
<article class="content">
  {% assign genres = genredata | sort_natural: "name" %}
  <ul>
    {% for genre in genres %}{% assign slug = genre.name | slugify %}
    <li class="content-section">
      <article>
        <header>
          <h2 id="{{ slug }}">{{ genre.name }}</h2>
          <a href="#{{ slug }}" aria-label="link to {{ genre.name }}">#</a>
        </header>
        <ul>
          {% assign grouped_works = workdata | where_exp: "work", "work.genre
          contains genre.id" | group_by: "rating" | sort: "name" | reverse %}{%
          for rating_group in grouped_works %}{% assign rating =
          rating_group.name | minus: 1 %}
          <li>
            <section>
              <h3>{{ site.data.ratings[rating] | upcase }}</h3>
              <ul>
                {% assign sorted_works = rating_group.items | sort: "year" %}{%
                for work in sorted_works %}{% assign people = "" | split: ""
                %}{% for person_id in work.person %}{% assign person =
                persondata | where: "id", person_id | first %}{% assign slug =
                person.name | slugify %}{% capture link %}
                <a href="{{ peoplepath }}/#{{ slug }}">{{ person.name }}</a>
                {% endcapture %}{% assign people = people | push: link %}{%
                endfor %}
                <li>
                  {{ people | join: " & " }} - {{ work.name }} ({{ work.year }})
                </li>
                {% endfor %}
              </ul>
            </section>
          </li>
          {% endfor %}
        </ul>
      </article>
    </li>
    {% endfor %}
  </ul>
</article>
