<h1>{{ page.title }}</h1>
<article>
  {% assign people = peopledata | sort_natural: "name" %}{% for person in people
  %}
  <article>
    <h2>{{ person.name }}</h2>
    {% assign grouped_works = workdata | where_exp: "work", "work.person
    contains person.id" | group_by: "rating" | sort: "name" | reverse %}{% for
    rating_group in grouped_works %}{% assign rating = rating_group.name |
    minus: 1 %}
    <h3>{{ rating }}</h3>
    <ul>
      {% for work in rating_group %}
      <li>({{ work.year }}) {{ work.name }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </article>
  {% endfor %}
</article>
