---
layout: default
title: Music
---

<h1>{{ page.title }}</h1>
<article>
  {% assign people = site.data.artists | sort_natural: "name" %} {% for person
  in people %}
  <article>
    <h2>{{ person.name }}</h2>
    {% assign works = site.data.albums | where: "id", person.id | sort: "year"
    %}
    <ul>
      <li>
        {% for work in works %}({{ work.year }}) {{ work.name }} - {{
        site.data.ratings[work.rating - 1] | upcase }}{% endfor %}
      </li>
    </ul>
  </article>
  {% endfor %}
</article>
