<ul>
  {% for genre in include.genres %}{% assign slug = genre.name | slugify %}
  <li class="content-section">
    <article>
      <header>
        <h2 id="{{ slug }}">{{ genre.name }}</h2>
        <a href="#{{ slug }}" aria-label="link to {{ genre.name }}">#</a>
      </header>
      <ul>
        {% assign grouped_works = include.works | where_exp: "work", "work.genre
        contains genre.id" | group_by: "rating" | sort: "name" | reverse %}{%
        for rating_group in grouped_works %}{% assign rating = rating_group.name
        | minus: 1 %}
        <li>
          <section>
            <h3>{{ include.ratings[rating] | upcase }}</h3>
            <ul>
              {% assign sorted_works = rating_group.items | sort: "year" %}{%
              for work in sorted_works %}{% assign people = "" | split: "" %}{%
              for person_id in work.person %}{% assign person = include.people |
              where: "id", person_id | first %}{% assign slug = person.name |
              slugify %}{% capture link %}
              <a href="{{ include.peoplepath }}/#{{ slug }}"
                >{{ person.name }}</a
              >
              {% endcapture %}{% assign people = people | push: link %}{% endfor
              %}
              <li>
                {{ people | join: " & " }} - {{ work.name }} (<a
                  href="{{ include.yearpath }}#{{ work.year }}"
                  >{{ work.year }}</a
                >)
              </li>
              {% endfor %}
            </ul>
          </section>
        </li>
        {% endfor %}
      </ul>
    </article>
  </li>
  {% endfor %}
</ul>
