<header class="header">
  <h1>{{ include.title | default: page.title }}</h1>
  <p>
    {{ include.subtitle | default: page.description }}
  </p>
  {% if include.links %}
  <ul>
    {% if include.linktitle %}
    <h2>{{ include.linktitle }}</h2>
    {% endif %}{% for link in include.links %}
    <li>
      {% assign linkurl = link.url | relative_url %}{% assign pageurl = page.url
      | relative_url %}{% if linkurl != pageurl %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% else %}{{ link.title }}{% endif %}
    </li>
    {% endfor %}
    <li>{{ page.url }}</li>
  </ul>
  {% endif %}
</header>
