<ul>
  {% for person in include.people %}{% assign slug = person.name | slugify %}
  <li class="content-section">
    <article>
      <header>
        <h2 id="{{ slug }}">{{ person.name }}</h2>
        <a href="#{{ slug }}" aria-label="link to {{ person.name }}">#</a>
      </header>
      <ul>
        {% assign grouped_works = include.works | where_exp: "work",
        "work.person contains person.id" | group_by: "rating" | sort: "name" |
        reverse %}{% for rating_group in grouped_works %}{% assign rating =
        rating_group.name | minus: 1 %}
        <li>
          <section>
            <h3>{{ include.ratings[rating] | upcase }}</h3>
            <ul>
              {% assign sorted_works = rating_group.items | sort: "year" %}{%
              for work in sorted_works %}
              <li>
                {{ work.name }} (<a
                  href="{{ include.yearpath }}/#{{ work.year }}"
                  >{{ work.year }}</a
                >)
              </li>
              {% endfor %}
            </ul>
          </section>
        </li>
        {% endfor %}
      </ul>
    </article>
  </li>
  {% endfor %}
</ul>
