<ul>
  {% assign grouped_works = include.works | group_by: "year" | sort: "name" |
  reverse %}{% for yeargroup in grouped_works %}
  <li class="content-section">
    <article>
      <header>
        <h2 id="{{ yeargroup.name }}">{{ yeargroup.name }}</h2>
        <a
          href="#{{ yeargroup.name }}"
          aria-label="link to {{ yeargroup.name }}"
          >#</a
        >
      </header>
      <ul>
        {% assign rating_groups = yeargroup.items | group_by: "rating" | sort:
        "name" | reverse %}{{ rating_groups | jsonify }}
      </ul>
    </article>
  </li>
  {% endfor %}
</ul>
